 /*------------------------
  Style for Mobile Devices 
  ------------------------- */

  @media only screen and (max-width:767px){
    
    .section{
        margin-bottom: 50px;
    }

    /* -------------
     Navbar Styles 
    ---------------*/

nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items:baseline;
    justify-content: space-between;
}

    .sidebar{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .sidebar .fa-bars{
        font-size: 20px;
    }
    .sidebar .fa-bars:hover{
        color: brown;
        cursor: pointer;


    }

    .logo h2{
        text-align: center;
        margin-left: 0;
        font-size: 24px;
    }
    .links{
        display: none;
    }
    .sidebar .fa-bars:hover .links{
        display: flex;
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }

    .logo{
        order: 2;
    }
    .cart{
        order: 3;
    }
    .links div,.cart{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .links:hover{
        display: none;
    }




    /* --------------
    Hero Section Styles 
    ------------------*/

    .top-banner{
        flex-direction: column-reverse;
        margin-left: 5%;
        margin-right: 5%;
    }
    .top-image{
        display: flex;
        align-items: center;
        width: 257px;
        height: 257px;
        background-size:contain;
        background-repeat: no-repeat;
        
    }
    .top-image img{
        width: 202px;
        height: 190px;
        margin-left: auto;
        margin-right: auto;
    }
    .top-text{
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0;
    }
    .top-text h1{
        font-size: 30px;
        line-height: 55px;
        padding-bottom: 10px;
    }

    
    /* -----------------
    Brand & Partners 
    ------------------ */
    .brands{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        justify-content: space-around;
        margin-left: 30px;
        margin-right: 30px;
    }
    

    /* -------------------
    Popular Collection Styles
    -----------------------  */
    .collection{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        
    }
    
    .see-more{
        margin: 50px 20%;
    }

    /* -------------------
    Featured Section Style 
    ---------------------- */
    .featured{
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }
    .featured-text{
        text-align: center;
        margin-bottom: 15px;
        width: 80%;
    }
    .featured-image{
        margin-top: 15px;
        display: flex;

        width: 100%;

    }
    .featured-image img{
        width: 299px;
        height: 188px;
        margin-left: auto;
        margin-right: auto;
        
    }



}